<!DOCTYPE html>
<html>
<head>
	<title>Succesful Submission</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta http-equiv="Content-Script-Type" content="text/javascript; charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/static/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="/static/js/bootstrap.min.js"></script>   
        <link rel="stylesheet" href="/static/css/index.css">
        <style type="text/css">
            .backg{
            position: relative;
            background-image: #000 url("/static/images/rating.jpg") 
            center center;
            width: 100%;
            height: 100%;
            background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
            overflow: hidden;
            }
        </style>	
	</head>
<body>
<div class="backg">
<div class="container">
	{% if error %}
    	<p align="center"><strong>Update:</strong> {{ error }}
	{% endif %}
                <div clas="row">
                    <div class="text-center">
                        <div class='col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2'>
                            <div class="form">
                                <div class="panel panel-info">
                                
             <div class="panel-body">

			<form action="https://192.168.43.57/students/home">
            <button type="submit" class="btn btn-primary btn-lg btn-block" name="mybutton[]" onclick=" ">Back to home </button>
            </form>
</div></div></div></div></div></div>

            <br><br>

<br>
                <div clas="row">
                    <div class="text-center">
                        <div class='col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2'>
                            <div class="form">
                                <div class="panel panel-info">
                                
             <div class="panel-body">

			<form action="https://192.168.43.57/students/" method="POST">
            <button type="submit" class="btn btn-primary btn-lg btn-block" name="mybutton[]" onclick=" ">Log Out </button>
            </form>
</div></div></div></div></div></div>

            <br><br>
 
</body>
</html>
