

<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta http-equiv="Content-Script-Type" content="text/javascript; charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/static/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="/static/js/bootstrap.min.js"></script> 
        <title>Course Form</title>
        <script>
            function disableSubmit() {
             document.getElementById("submit").disabled = true;
            }
            
             function activateButton(element) {
            
                 if(element.checked) {
                   document.getElementById("submit").disabled = false;
                  }
                  else  {
                   document.getElementById("submit").disabled = true;
                 }
            
             }
        </script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <style type="text/css">
            .backg{
            position: relative;
            background: #000 url("/static/images/coursesback.jpg") 
            center center;
            width: 100%;
            height: 100%;
            background-size: cover;
            overflow: hidden;
            }
        </style>
    </head>
    <body onload="disableSubmit()">
    {% if error %}
      <p align="center"><strong>Error:</strong> {{ error }}
    {% endif %}
        <div class="backg">
            <div class="container">
                <div class='col-lg-offset-2 col-lg-8 col-md-offset-2 col-md-8 '>
                    <div class="jumbotron">
                        <h1 style="text-align: center; font-family: Times; color: #4dff4d;" >Hello {{studname}}</h1>
                        <h2 style="text-align: center; font-family: Georgia; color: #4dff4d;"  ">Selected Course =" {{Course}} "</h2>
                    </div>
                </div>
            </div>
            <div class="text-center">
              <form action="https://192.168.43.57/students/home" style="vertical-align:middle" method="GET">
                  <span>
                  <button class="btn btn-info" type="submit" value="{{studname}}" name="back">
                   Go Back to Home </button>
                  </span> 
              </form>
            </div>
            <br>
            <form action="https://192.168.43.57/students/home/form/final" id="form-id" method="POST" name="checks">
                <div class="container">
                    <div clas="row">
                        <div class="text-center">
                            <div class='col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1'>
                                <table class="table table-striped table-bordered ">
                                    <thead>
                                        <tr>
                                            <th style="text-align: center; text-decoration:underline ; " width="60%" rowspan="2">
                                                <h2>Question</h2>
                                            </th>
                                            <th style="text-align: center; text-decoration:underline ; " width="40%" colspan="5">Response</th>
                                        </tr>
                                        <tr>
                                            <th width="8%">Strongly Agree</th>
                                            <th width="8%">Agree</th>
                                            <th width="8%">Neutral</th>
                                            <th width="8%">Disagree</th>
                                            <th width="8%">Strongly Disagree</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for i in questions %}
                                        <tr>
                                            <td align="center" >{{i}}</td>
                                            <td align="center"> 
                                                <label><input type="checkbox" name="checks" id="A" value="5"></label> 
                                            </td>
                                            <td align="center"> 
                                                <label><input type="checkbox" name="checks" id="B" value="4"></label> 
                                            </td>
                                            <td align="center"> 
                                                <label><input type="checkbox" name="checks" id="C" value="3"></label> 
                                            </td>
                                            <td align="center"> 
                                                <label><input type="checkbox" name="checks" id="D" value="2"></label> 
                                            </td>
                                            <td align="center"> 
                                                <label><input type="checkbox" name="checks" id="E" value="1"></label> 
                                            </td>
                                        </tr>
                                    </tbody>
                                    {% endfor %}

                                    {% for i in sub %}
                                    <tr>
                                            <td align="center" >{{i}}</td>
                                            <td align="center" colspan="5">
                                                <textarea name="Text" cols="40" rows="4"></textarea>
                                            </td>
                                    </tr>
                                    {% endfor %}            
                                </table>
                                <label> <input type="checkbox" id="mycheckbox" name="studname" onchange="activateButton(this)" value="{{studname}}"> Confirm Submission </label>
                                <button type="submit" class="btn btn-primary" name="select" id="submit" value="{{Course}}" > Submit</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </body>
</html>